VITE_SUPABASE_URL=https://xxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_VAPID_PUBLIC_KEY=BDZMfH2IpBFJS_WYas1u8DcnIsvi_XgQ1vMiDCHrXpJI4TVhmeeS6cbW9ppTfEBtQ1Q7Yk85Z-aZniFdPgFJZqQ
